@keyframes animateBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background: linear-gradient(270deg, #19A186, #F2CF43);
  background-size: 200% 200%;
  animation: animateBackground 2s ease infinite;
  font-family: 'FunFont', sans-serif;
}

.container {
  text-align: center;
  margin-top: 50px;
}

.logo {
  width: 600px;
  height: auto;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 36px;
}

.tabs {
  margin-bottom: 10px;
}

.tab {
  margin-right: 10px;
  padding: 10px 20px;
  border: 2px solid #000;
  border-radius: 20px;
  background-color: #FFF;
  text-decoration: none;
}

.logos {
  margin-top: 20px;
}

.logos img {
  width: 10%;
  height: auto;
}
.container {
  text-align: center;
  margin-top: 50px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 36px;
}

.tabs {
  margin-bottom: 10px;
}

.tab {
  margin-right: 10px;
  padding: 10px 20px;
  border: 2px solid #000;
  border-radius: 20px;
  background-color: #FFF;
  text-decoration: none;
}

.narrative {
  margin-top: 20px;
}

.narrative p {
  font-size: 16px;
  line-height: 1.5;
}
.container {
  text-align: center;
  margin-top: 50px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 36px;
}

.tabs {
  margin-bottom: 10px;
}

.tab {
  margin-right: 10px;
  padding: 10px 20px;
  border: 2px solid #000;
  border-radius: 20px;
  background-color: #FFF;
  text-decoration: none;
}

.narrative {
  margin-top: 20px;
}

.narrative p {
  font-size: 16px;
  line-height: 1.5;
}

.comments {
  margin-top: 20px;
}

.comments h2 {
  margin-bottom: 10px;
}

#comments-container {
  margin-bottom: 10px;
}

#comment-input {
  width: 300px;
  padding: 5px;
  margin-right: 10px;
}

#comment-form button {
  padding: 5px 10px;
}
